.productsList {
  padding-left: 8%;
  padding-right: 8%;
  margin: 2%;
  margin-top: 100px;
}
.listInfo {
  margin-left: 15px;
}
.productType {
  display: flex;
  align-items: center;
}
.motherProducts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.productImage {
  margin-right: 20px;
  height: 100px;
  width: 200px;
}
.card {
  padding: 50px;
  display: flex;
  background-color: white;
  margin: 1%;
  width: 100%;
  align-items: center;
  height: 175px;
  transition: 0.5s;
  justify-content: space-between;
}
.card:hover {
  transition: 0.5s;
  box-shadow: 2px 2px 10px black;
  color: darkorange;
  cursor: pointer;
}
.infoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  height: 100%;
}
.productButtons {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.productButton {
  padding: 4px;
  font-size: 18px;
  border: transparent;
  width: 33%;
  font-weight: bold;
  transition: 1s;
  box-shadow: 2px 2px 5px black;
  margin: 4px;
}
.productButton:hover {
  background-color: orange;
  transition: 1s;
  cursor: pointer;
}
.paginationBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
