.details-block {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  position: relative;
  width: 100%;
  color: #fff;
}
@media (max-width: 1776px) {
  .details-block {
    padding-left: 18%;
    padding-right: 18%;
  }
}
@media (max-width: 1500px) {
  .details-block {
    padding-left: 13%;
    padding-right: 13%;
  }
}
@media (max-width: 1200px) {
  .details-block {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 1024px) {
  .details-block {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 800px) {
  .productInfo {
    display: flex;
    flex-direction: column;
  }
}
.productInfoLeft {
  margin-top: 20px;
  background-color: #3b3b3b;
  padding: 40px 20px;
}
.infoKey {
  text-align: right;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.infoIn {
  text-align: left;
  margin-left: 5px;
  margin-bottom: 5px;
}
.productInfoLeftElment {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}
.productDesc {
  color: #000;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 140px;
}
.imageTitle {
  transition: 0.5s;
}
.imageTitle:hover {
  transform: scale(1.1);
}
.infoRight {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding-left: 50px;
  justify-content: space-between;
}
.infoElement {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.infoAbout {
  background-color: rgba(0, 0, 0, 0.5);
  color: #cbcbcb;
  padding: 19px;
  width: 100%;
  margin-right: 40px;
}
.pathBtn {
  transition: 0.5s;
}
.pathBtn:hover {
  color: darkorange;
  transition: 0.5s;
}
.infoAbout li {
  margin: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.infoAbout li img {
  margin-right: 15px;
}
.path {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}
.detailsMain {
  display: flex;
  height: 350px;
  width: 50%;
  margin-top: 80px;
  position: relative;
  width: 100%;
}
.buttonPrice {
  display: flex;
  flex-direction: column;
}
.addToCart {
  font-size: 20px;
  padding: 25px;
  border: transparent;
  font-weight: bold;
  background-color: lightblue;
  transition: 1s;
  box-shadow: 2px 2px 5px black;
  margin: 5px;
  color: #fff;
}
.addToCart:hover {
  background-color: darkorange;
  transition: 1s;
  cursor: pointer;
}
.product__bg:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 496px;
}
.product__bg {
  width: 100%;
  background: #383838 url(https://steampay.com/img/background_product.jpg) 50%
    no-repeat;
  height: 496px;
  background-size: cover;
  position: absolute;
}
.productInfo {
  display: flex;
  justify-content: space-between;
}

.btn-43,
.btn-43 *,
.btn-43 :after,
.btn-43 :before,
.btn-43:after,
.btn-43:before {
  width: 300px;
  font-size: 1.5em;
  border: none;
  box-sizing: border-box;
}
.btn-43 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #0094e9;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-43:disabled {
  cursor: default;
}
.btn-43:-moz-focusring {
  outline: auto;
}
.btn-43 svg {
  display: block;
  vertical-align: middle;
}
.btn-43 [hidden] {
  display: none;
}
.btn-43 {
  border: none;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 20px 60px;
  position: relative;
  text-transform: uppercase;
}
.btn-43 .new,
.btn-43 .old {
  font-weight: 900;
}
.btn-43 .new {
  background: darkorange;
  color: #fff;
  content: "";
  display: grid;
  inset: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  transform: rotate(90deg) translateY(100%);
  transform-origin: bottom left;
  transition: transform 0.2s, opacity 0.2s;
}
.btn-43:hover .new {
  opacity: 1;
  transform: rotate(0deg) translateY(0);
}
.btn-43 .old {
  transition: opacity 0.2s;
}
.btn-43:hover .old {
  opacity: 0;
}
