@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  font-family: "Play", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dee1e2;
  min-height: 100vh;
  overflow-x: hidden;
}
